.u-section-1 .u-sheet-1 {
  min-height: 658px;
}

.u-section-1 .u-text-1 {
  margin: 23px auto 0 78px;
}

.u-section-1 .u-text-2 {
  margin: 23px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 332px;
  height: 324px;
  margin: -254px 0 60px auto;
}