.u-section-1 .u-sheet-1 {
  min-height: 953px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 103px;
  margin: 367px -156px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 284px;
  height: 278px;
  margin: -470px 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: -273px 284px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 0 284px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 79px 466px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 89px 449px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 47px 0 0;
}

.u-section-1 .u-text-6 {
  margin: -19px 0 0;
}

.u-section-1 .u-text-7 {
  width: 512px;
  margin: 47px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 639px;
    height: 133px;
    margin-top: 296px;
    margin-right: 126px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -429px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 84px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 11px;
    margin-right: 84px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 18px;
    margin-right: 343px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 213px;
    margin-right: 249px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -35px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    height: 147px;
    margin-top: 298px;
    inset: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -445px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -278px;
    margin-right: 284px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 32px;
    margin-right: 360px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 187px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 32px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -15px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 44px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 280px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    width: 240px;
    height: 235px;
    margin-top: -427px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -235px;
    margin-right: 104px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 11px;
    margin-right: 270px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 157px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 30px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -21px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 911px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 593px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    width: 293px;
    height: 286px;
    margin-top: -740px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 31px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 9px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 22px;
    margin-right: 70px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 137px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 31px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -18px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 56px;
  }
} .u-section-2 {
  background-image: url("images/Screenshot2023-05-05at21.01.12.png");
}

.u-section-2 .u-sheet-1 {
  min-height: 268px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 221px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 169px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 127px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 80px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 594px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 29px 189px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 238px;
  height: 1052px;
  margin: -144px auto 0 -252px;
}

.u-section-3 .u-image-2 {
  width: 937px;
  height: 517px;
  margin: -975px -519px 0 auto;
}

.u-section-3 .u-text-3 {
  margin: -416px 265px 0 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-4 {
  margin: 27px 0 60px;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 65px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 265px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 188px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: -497px;
  }
} .u-section-4 {
  min-height: 694px;
}

.u-section-4 .u-text-1 {
  margin: 57px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-text-2 {
  margin: 20px calc(((100% - 1140px) / 2)  + 189px) 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-3 {
  margin: 31px calc(((100% - 1140px) / 2)  + 189px) 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-4 {
  margin: 31px calc(((100% - 1140px) / 2)) 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-5 {
  margin: 29px calc(((100% - 1140px) / 2)  + 265px) 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 373px;
  height: 373px;
  margin: -259px calc(((100% - 1140px) / 2)  + -226px) -34px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-4 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-5 {
    margin-right: calc(((100% - 940px) / 2) + 65px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-image-1 {
    inset: auto;
    margin-right: calc(((100% - 940px) / 2) + -226px);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-4 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2) + -226px);
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 686px;
  }

  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-4 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-5 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2) + -226px);
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 544px;
  }

  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-4 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-5 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-image-1 {
    margin-right: calc(((100% - 340px) / 2) + -226px);
  }
}.u-section-5 .u-sheet-1 {
  min-height: 469px;
}

.u-section-5 .u-text-1 {
  margin: 9px 489px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 22px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 38px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 38px 0 0;
}

.u-section-5 .u-image-1 {
  width: 373px;
  height: 362px;
  margin: -324px -225px 22px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 289px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 69px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 329px;
}

.u-section-6 .u-text-1 {
  margin: 0 649px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 33px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 449px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-right: 229px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-top: 60px;
    margin-right: 49px;
  }

  .u-section-6 .u-text-2 {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-right: 0;
  }
} .u-section-7 {
  min-height: 519px;
}

.u-section-7 .u-text-1 {
  margin: 0 calc(((100% - 1140px) / 2)  + 938px) 0 calc(((100% - 1140px) / 2));
}

.u-section-7 .u-text-2 {
  margin: 20px calc(((100% - 1140px) / 2)) 0;
}

.u-section-7 .u-text-3 {
  margin: 20px calc(((100% - 1140px) / 2)) 0;
}

.u-section-7 .u-text-4 {
  margin: 27px calc(((100% - 1140px) / 2)) 0;
}

.u-section-7 .u-text-5 {
  margin: 27px calc(((100% - 1140px) / 2)) 0;
}

.u-section-7 .u-text-6 {
  margin: 27px calc(((100% - 1140px) / 2)) 0;
}

.u-section-7 .u-image-1 {
  width: 367px;
  height: 484px;
  margin: -441px auto 24px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 738px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-text-5 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-text-6 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 518px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-text-6 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 338px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-text-5 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-text-6 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 424px;
  }

  .u-section-7 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2) + 138px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-text-4 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-text-5 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-text-6 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 448px;
  }
} .u-section-8 {
  min-height: 339px;
}

.u-section-8 .u-text-1 {
  margin: 0 calc(((100% - 1140px) / 2));
}

.u-section-8 .u-text-2 {
  margin: 33px calc(((100% - 1140px) / 2)) 0;
}

.u-section-8 .u-text-3 {
  margin: 0 calc(((100% - 1140px) / 2));
}

.u-section-8 .u-image-1 {
  width: 365px;
  height: 505px;
  margin: -256px auto -188px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-8 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-8 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-8 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-8 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-8 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-8 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 304px;
  }

  .u-section-8 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-8 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-8 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 470px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 380px;
}

.u-section-9 .u-text-1 {
  margin: 0;
}

.u-section-9 .u-text-2 {
  margin: 33px 0 0;
}

.u-section-9 .u-text-3 {
  margin: 33px 0 0;
}

.u-section-9 .u-text-4 {
  margin: 33px 0 60px;
}

@media (max-width: 767px) {
  .u-section-9 .u-text-2 {
    width: auto;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 304px;
}

.u-section-10 .u-text-1 {
  margin: 0;
}

.u-section-10 .u-text-2 {
  margin: 20px 0 60px;
}.u-section-11 .u-sheet-1 {
  min-height: 366px;
}

.u-section-11 .u-text-1 {
  margin: 0 20px 0 0;
}

.u-section-11 .u-text-2 {
  margin: 27px 20px 0 0;
}

.u-section-11 .u-text-3 {
  margin: 27px 20px 0 0;
}

.u-section-11 .u-text-4 {
  margin: 20px 20px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-1 {
    margin-right: 0;
  }

  .u-section-11 .u-text-2 {
    margin-right: 0;
  }

  .u-section-11 .u-text-3 {
    margin-right: 0;
  }

  .u-section-11 .u-text-4 {
    margin-right: 0;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 194px;
}

.u-section-12 .u-text-1 {
  margin: 0 20px 0 0;
}

.u-section-12 .u-text-2 {
  margin-left: 0;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-1 {
    margin-right: 0;
  }

  .u-section-12 .u-text-2 {
    margin-right: 0;
  }
}