.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  margin: -108px 100px 60px auto;
  padding: 0 15px 0 13px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-3 {
    margin-top: -140px;
    margin-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    padding: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -250px;
    margin-right: 20px;
    margin-bottom: 212px;
  }
}