.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  margin: 0 153px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: -249px 14px 0 auto;
  padding: 0 15px 0 13px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-1 .u-list-1 {
  width: 367px;
  margin: 194px auto 60px 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 13.3333px);
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  --gap: 20px;
  min-height: 53px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  filter: none;
  margin: 0 auto 0 0;
  padding: 6px 15px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-btn-3 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  filter: none;
  margin: 0 auto 0 0;
  padding: 5px 19px 7px 17px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-btn-4 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  filter: none;
  margin: 0 auto 0 0;
  padding: 5px 19px 7px 17px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 97px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 13.333333333333334px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.333333333333334px));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 83px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -428px;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 388px;
    margin-top: 357px;
    margin-bottom: 25px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 13.3333px);
    grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
    min-height: 44px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-1 .u-btn-3 {
    padding: 6px 15px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-1 .u-btn-4 {
    padding: 6px 15px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 24px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -386px;
  }

  .u-section-1 .u-list-1 {
    width: 538px;
    margin-top: 352px;
    margin-bottom: -23px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 66px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 611px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 47px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -515px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 481px;
    margin-bottom: -35px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 126px;
  }
}