.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  margin: 0 153px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: -249px 14px 0 auto;
  padding: 0 15px 0 13px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-1 .u-list-1 {
  width: 495px;
  margin: 189px auto 60px 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(25% - 15px);
  grid-template-columns: repeat(4, calc(25% - 15px));
  --gap: 20px;
  min-height: 53px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  filter: none;
  margin: 0 auto 0 0;
  padding: 5px 19px 7px 17px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-btn-3 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  filter: none;
  margin: 0 auto 0 0;
  padding: 5px 19px 7px 17px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-btn-4 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  filter: none;
  margin: 0 auto 0 0;
  padding: 5px 19px 7px 17px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-btn-5 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  filter: none;
  margin: 0 auto 0 0;
  padding: 5px 19px 7px 17px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 404px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 33px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -308px;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: 248px;
    margin-bottom: 53px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 18px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -394px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 322px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 39px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 6px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 6px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 6px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 13px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -386px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 331px;
    margin-bottom: -34px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 59px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 62px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -515px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin: 470px auto 0 -14px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 42px;
  }
}